.explainer p {
  font-weight: 500;
}

.methodologyLink {
  color: var(--main-text-color);
}
.boldText {
  font-weight: 700;
}

.noBottom {
  margin-block-end: 0.3em;
}

.noTop {
  margin-block-start: 0.3em;
}