.container {
  display: flex;
  align-items: center;
}

.filler {
  flex: 1;
  vertical-align: middle;
  border-top: 2px dashed black;
  margin-inline: 15px;
}

.container p {
  text-align: center;
  font-weight: 600;
  text-wrap: pretty;
}

