
.keyRaces {
    max-width: 70%;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .race {
    display: flex;
    align-items: center;
    margin-right: 1.3rem;
    cursor: pointer;
  }
  
  .race p {
    margin-left: 5px;
    font-size: 13px;
  }
  @media screen and (max-width: 1280px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  @media screen and (max-width: 768px) {
    .keyRaces{
      max-width:90%;
    }
    .race p {
      font-size: 16px;
    }
    .grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  /* For Galaxy Fold */
  @media screen and (max-width: 370px){
    .keyRaces{
      max-width: 100%;
    }
    .grid {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  .exploreText {
    margin-block-end: 12px;
  }