:root {
  --bemocrat-blue: #595d9a;
  --republican-red: #b83c2b;
  --gradient-descent-gray: #f2f2f2;
  --washington-white: #ffffff;
  --basic-black: #000000;
  --gubernatorial-gray: #505050;

  --main-bg-color: var(--gradient-descent-gray);
  --main-text-color: var(--basic-black);
  --module-bg-color: var(--washington-white);
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

@media
  (
    prefers-reduced-motion: 
    no-preference
  ) {
    html {
      scroll-behavior: smooth;
    }
  }

body {
  margin: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
select,
option,
span {
  font-family: gelica, serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

/* Additional Styles */

.red {
  color: var(--republican-red);
}

.blue {
  color: var(--bemocrat-blue);
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  min-height: 85vh;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 3px solid var(--main-text-color);
  width: 95%;
}

header .content h1 {
  margin: 0;
}

header .content nav ul {
  display: flex;
  gap: 1rem;
}

header .content nav ul li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--main-text-color);
}

footer a {
  text-decoration: none;
  color: var(--main-text-color);
}

.mapModule {
  min-width: 60%;
}

.NationalMapModule {
  min-width: calc(50% - 0.5rem);
  box-sizing: border-box;
}

.rangeSlider {
  background: linear-gradient(-90deg, var(--bemocrat-blue), var(--republican-red));
}

.rangeSlider > .rangeHandle > .rangeNub {
  background-color: var(--module-bg-color) !important;
  box-shadow: 0 0 0 6px var(--thumb-color) inset;
  font-size: 0.7em !important;
  transition: background-color 0.2s, box-shadow 0.1s;
}

.rangeSlider > .rangeHandle:hover >.rangeNub {
  background-color: color-mix(in srgb, var(--handle-border) 20%, white) !important;
}

.rangeSlider > .rangeHandle:active >.rangeNub {
  background-color: color-mix(in srgb, var(--handle-border) 40%, white) !important;
  box-shadow: 0 0 0 6.5px var(--thumb-color) inset;
}

.rangeSlider > .rangeHandle > .rangeFloat {
  background-color: var(--thumb-color) !important;
}

@media (max-width: 350px) {

  .pipVal {
    display: none !important;
    visibility: hidden !important;
    opacity: 0;
  }

}