:root {
  --main-bg-color: #f2f2f2;
  --main-text-color: black;
  --module-bg-color: white;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: serif;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 3px solid var(--main-text-color);
}

header .content nav ul {
  display: flex;
  gap: 1rem;
}

header .content nav ul li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--main-text-color);
}

.module {
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--module-bg-color);
}

.module .welcome h2 {
  text-align: center;
}
