.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mapAndSims {
  display: flex;
  gap: 1rem;
}

.stickySearch {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #ffffff; 
}
.main {
  margin: 10%;
}
@media (max-width: 450px) {
  .mapAndSims {
    display: flex;
    flex-direction: column;
    
  }
  /* .main{
    margin: 10px;
  } */
}

@media (max-width: 853px) {
  .main {
    margin-left: 20px;
    margin-right: 20px; 
  }
}
