.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mapAndSims {
  display: flex;
  gap: 1rem;
}
@media (max-width: 450px) {
  .mapAndSims {
    display: flex;
    flex-direction: column;
    /* Adjust styles for mobile screens */
    /* Optionally, you can add additional styles here */
  }
}
