.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mapAndSims {
  display: flex;
  gap: 1rem;
}
@media (max-width: 450px) {
  .mapAndSims {
    display: flex;
    flex-direction: column;
    
  }
}
.stickySearch {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #ffffff; 
}
.main {
  margin-right: 200px;
  margin-left: 200px; /* Default margin for larger screens */
}

/* Adjust margin for smaller screens */
@media (max-width: 768px) {
  .main {
    margin-left: 10px;
    margin-right: 10px; 
  }
}
