.banner {
  background-color: #692e84;
  width: 100%;
}

.bannerText {
  color: white;
  text-align: center;
  padding-block: 10px;
  padding-inline: 10%;
  text-wrap: pretty;
  font-family: gelica, georgia, book antiqua, times new roman, serif;
  font-weight: 300;
  font-style: normal;
}

.bannerText a {
  font-family: gelica, georgia, book antiqua, times new roman, serif;
  font-weight: 300;
  font-style: normal;
  color: white;
}
