.banner {
  background-color: red;
  width: 100%;
}

.bannerText {
  color: white;
  text-align: center;
  padding: 10px;
  font-family: gelica, georgia, book antiqua, times new roman, serif;
  font-weight: 300;
  font-style: normal; 
  
}

.bannerText a {
  font-family: gelica, georgia, book antiqua, times new roman, serif;
  font-weight: 300;
  font-style: normal;  
  color: white;
}
