.footerContainer {
  width: 95%;
  max-width: 62.5rem;
  margin: 1rem auto;
}

.footerText {
  font-size: small;
}
.linkText {
  text-decoration: underline;
  font-size: small;
  margin-right: 5px;
}
.betweenText {
  margin-right: 5px;
}
