.byContainer {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .byText {
    margin-right: 5px;
    font-size: medium;
  }
  
  .bprImage {
    font-size: medium
  }
  @media screen and (max-width: 768px){
    .byContainer{
      display: none;
    }
  }