.byContainer {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .byText {
    margin-right: 3px;
    font-size: medium;
  }
  
  .bprImage {
    font-size: medium
  }
  @media screen and (max-width: 768px){
    .byContainer{
      display: none;
    }
  }

  .bprImage {
    display: flex; /* Ensure the anchor tag behaves like a flex container */
    align-items: center; /* Align items vertically */
  }
