
.byContainer {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically */
  
}

.byText {
  margin-right: 5px; /* Add some space between "By the" text and the image */
  font-size: 1.1rem;
}
